.hidden
{
	display: none;
}

/*quick reset*/
*
{
	border: none;
	padding: 0;
	margin: 0;
}

.wrapper
{
	width: 1000px;
	margin: 0 auto;
}

body
{
	font-size: 16px;
	font-family: 'Arial', 'helvetica', sans-serif;
}

.data-graphic
{
	border: thin dashed black;
	width: 30%;
}

#title
{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#paragraph1
{
	margin-bottom: 20px;
}